Repository aryeko/ghx-router: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint --max-warnings=0 {staged_files}

docs: address all 17 review findings in design docs (#80)
  docs/design/agent-profiler/README.md
  docs/design/agent-profiler/analysis.md
  docs/design/agent-profiler/configuration.md
  docs/design/agent-profiler/contracts.md
  docs/design/agent-profiler/metrics.md
  docs/design/agent-profiler/reports.md
  docs/design/agent-profiler/scenarios.md
  docs/design/agent-profiler/statistics.md
  docs/design/eval/README.md
  docs/design/eval/configuration.md
  docs/design/eval/fixtures.md
  docs/design/eval/modes.md
  docs/design/eval/opencode-provider.md
  docs/design/eval/scenarios.md
Due: none

feat(agent-profiler): implement statistics engine (descriptive, bootstrap CI, Cohen's d, permutation test)
  packages/agent-profiler/src/stats/bootstrap.ts
  packages/agent-profiler/src/stats/comparison.ts
  packages/agent-profiler/src/stats/descriptive.ts
  packages/agent-profiler/test/unit/stats/bootstrap.test.ts
  packages/agent-profiler/test/unit/stats/comparison.test.ts
  packages/agent-profiler/test/unit/stats/descriptive.test.ts
Due: format, lint

feat(agent-profiler): implement JSONL store and run manifest persistence
  packages/agent-profiler/src/store/jsonl-store.ts
  packages/agent-profiler/src/store/run-manifest.ts
  packages/agent-profiler/src/store/types.ts
  packages/agent-profiler/test/unit/store/jsonl-store.test.ts
  packages/agent-profiler/test/unit/store/run-manifest.test.ts
Due: format, lint

feat(agent-profiler): implement profile runner with matrix expansion, iteration loop, and warmup
  packages/agent-profiler/src/runner/iteration.ts
  packages/agent-profiler/src/runner/profile-runner.ts
  packages/agent-profiler/src/runner/warmup.ts
  packages/agent-profiler/test/helpers/factories.ts
  packages/agent-profiler/test/helpers/mock-mode-resolver.ts
  packages/agent-profiler/test/helpers/mock-provider.ts
  packages/agent-profiler/test/helpers/mock-scorer.ts
  packages/agent-profiler/test/unit/runner/iteration.test.ts
  packages/agent-profiler/test/unit/runner/profile-runner.test.ts
  packages/agent-profiler/test/unit/runner/warmup.test.ts
Due: format, lint

feat(eval): scenario schema, fixture binder, and loader
  packages/eval/src/scenario/fixture-binder.ts
  packages/eval/src/scenario/loader.ts
  packages/eval/src/scenario/schema.ts
  packages/eval/test/unit/scenario/fixture-binder.test.ts
  packages/eval/test/unit/scenario/loader.test.ts
  packages/eval/test/unit/scenario/schema.test.ts
Due: format, lint

feat(eval): mode resolver with ghx/mcp/baseline definitions
  packages/eval/src/mode/definitions.ts
  packages/eval/src/mode/resolver.ts
  packages/eval/test/unit/mode/resolver.test.ts
Due: format, lint

feat(eval): tool classifier and GhxCollector implementing Collector contract
  packages/eval/src/collector/ghx-collector.ts
  packages/eval/src/collector/tool-classifier.ts
  packages/eval/test/unit/collector/ghx-collector.test.ts
  packages/eval/test/unit/collector/tool-classifier.test.ts
Due: format, lint

feat(eval): RunHooks implementation with fixture reset and session export
  packages/eval/src/hooks/eval-hooks.ts
  packages/eval/test/unit/hooks/eval-hooks.test.ts
Due: format, lint

fix(agent-profiler): integrate Tier 1 analyzers into suite pipeline
  packages/agent-profiler/src/runner/iteration.ts
  packages/agent-profiler/src/runner/profile-runner.ts
  packages/agent-profiler/test/integration/profile-runner.integration.test.ts
  packages/agent-profiler/test/unit/runner/iteration.test.ts
Due: format, lint

fix(agent-profiler): add allowedRetries config and retry loop to iteration runner
  packages/agent-profiler/src/config/loader.ts
  packages/agent-profiler/src/config/schema.ts
  packages/agent-profiler/src/runner/iteration.ts
  packages/agent-profiler/src/runner/profile-runner.ts
  packages/agent-profiler/src/shared/constants.ts
  packages/agent-profiler/test/integration/profile-runner.integration.test.ts
  packages/agent-profiler/test/unit/config/loader.test.ts
  packages/agent-profiler/test/unit/config/schema.test.ts
  packages/agent-profiler/test/unit/runner/iteration.test.ts
  packages/agent-profiler/test/unit/runner/profile-runner.test.ts
Due: format, lint

feat(eval): eval run command with multi-model outer loop
  packages/eval/src/cli/run.ts
  packages/eval/test/unit/cli/run.test.ts
Due: format, lint

feat(eval): eval check command for scenario/config validation
  packages/eval/src/cli/check.ts
  packages/eval/test/unit/cli/check.test.ts
Due: format, lint

fix(eval): add --output-jsonl flag and check output symbols
  packages/eval/src/cli/check.ts
  packages/eval/src/cli/run.ts
  packages/eval/test/unit/cli/check.test.ts
  packages/eval/test/unit/cli/run.test.ts
Due: format, lint

docs(agent-profiler): add JSDoc to all public API exports
  packages/agent-profiler/src/analyzer/efficiency-analyzer.ts
  packages/agent-profiler/src/analyzer/error-analyzer.ts
  packages/agent-profiler/src/analyzer/reasoning-analyzer.ts
  packages/agent-profiler/src/analyzer/strategy-analyzer.ts
  packages/agent-profiler/src/analyzer/tool-pattern-analyzer.ts
  packages/agent-profiler/src/collector/cost-collector.ts
  packages/agent-profiler/src/collector/latency-collector.ts
  packages/agent-profiler/src/collector/token-collector.ts
  packages/agent-profiler/src/collector/tool-call-collector.ts
  packages/agent-profiler/src/config/loader.ts
  packages/agent-profiler/src/config/schema.ts
  packages/agent-profiler/src/contracts/analyzer.ts
  packages/agent-profiler/src/contracts/collector.ts
  packages/agent-profiler/src/contracts/hooks.ts
  packages/agent-profiler/src/contracts/mode-resolver.ts
  packages/agent-profiler/src/contracts/provider.ts
  packages/agent-profiler/src/contracts/scorer.ts
  packages/agent-profiler/src/reporter/orchestrator.ts
  packages/agent-profiler/src/runner/iteration.ts
  packages/agent-profiler/src/runner/profile-runner.ts
  packages/agent-profiler/src/shared/constants.ts
  packages/agent-profiler/src/shared/logger.ts
  packages/agent-profiler/src/stats/bootstrap.ts
  packages/agent-profiler/src/stats/comparison.ts
  packages/agent-profiler/src/stats/descriptive.ts
  packages/agent-profiler/src/store/jsonl-store.ts
  packages/agent-profiler/src/store/run-manifest.ts
  packages/agent-profiler/src/store/types.ts
  packages/agent-profiler/src/types/metrics.ts
  packages/agent-profiler/src/types/profile-row.ts
  packages/agent-profiler/src/types/scenario.ts
  packages/agent-profiler/src/types/trace.ts
Due: format, lint

refactor(eval): extract parseFlag utility and fix run.ts issues
  packages/eval/src/cli/analyze.ts
  packages/eval/src/cli/check.ts
  packages/eval/src/cli/fixture.ts
  packages/eval/src/cli/parse-flags.ts
  packages/eval/src/cli/report.ts
  packages/eval/src/cli/run.ts
  packages/eval/test/unit/cli/parse-flags.test.ts
  packages/eval/test/unit/cli/run.test.ts
Due: format, lint

feat(eval): default eval.config.yaml
  packages/eval/config/eval.config.yaml
Due: format

chore: integrate eval package into workspace
  package.json
Due: format

chore: add changeset for agent-profiler package
  .changeset/add-agent-profiler.md
Due: none

fix(eval): add ci target and passWithNoTests to eval+profiler, add vitest config to agent-profiler
  packages/agent-profiler/package.json
  packages/agent-profiler/vitest.config.ts
  packages/eval/package.json
  packages/eval/src/fixture/manager.ts
  packages/eval/src/fixture/manifest.ts
  packages/eval/src/scenario/fixture-binder.ts
  packages/eval/test/unit/fixture/manager.test.ts
  packages/eval/test/unit/fixture/manifest.test.ts
Due: format, lint

docs(eval): add JSDoc to all public source files
  packages/eval/src/collector/ghx-collector.ts
  packages/eval/src/config/loader.ts
  packages/eval/src/config/schema.ts
  packages/eval/src/fixture/manager.ts
  packages/eval/src/fixture/manifest.ts
  packages/eval/src/hooks/eval-hooks.ts
  packages/eval/src/mode/resolver.ts
  packages/eval/src/provider/opencode-provider.ts
  packages/eval/src/scenario/fixture-binder.ts
  packages/eval/src/scenario/loader.ts
  packages/eval/src/scenario/schema.ts
  packages/eval/src/scorer/checkpoint-scorer.ts
Due: format, lint

chore: add changeset for eval and agent-profiler packages
  .changeset/add-eval-and-agent-profiler-packages.md
Due: none

chore: remove agent-profiler from changeset
  .changeset/add-eval-and-agent-profiler-packages.md
Due: none

fix(agent-profiler): address independent review findings
  packages/agent-profiler/package.json
  packages/agent-profiler/src/config/schema.ts
  packages/agent-profiler/src/store/run-manifest.ts
  packages/agent-profiler/test/unit/config/loader.test.ts
  packages/agent-profiler/test/unit/reporter/_make-profile-row.ts
  packages/agent-profiler/test/unit/store/jsonl-store.test.ts
  pnpm-lock.yaml
Due: format, lint

fix(eval): guard OpenCodeProvider.init() against double-initialization
  packages/eval/src/provider/opencode-provider.ts
Due: format, lint

fix(eval): dead code removal, JSDoc corrections, remove retry
  packages/eval/src/collector/ghx-collector.ts
  packages/eval/src/provider/event-listener.ts
  packages/eval/src/scenario/fixture-binder.ts
  packages/eval/test/unit/provider/event-listener.test.ts
  packages/eval/tsup.config.ts
  packages/eval/vitest.config.ts
Due: format, lint

fix(profiler): enforce prompt timeout and add reporter error boundaries
  .changeset/prompt-timeout-reporter-boundaries.md
  packages/agent-profiler/src/reporter/orchestrator.ts
  packages/agent-profiler/src/runner/iteration.ts
  packages/agent-profiler/test/unit/reporter/orchestrator.test.ts
  packages/agent-profiler/test/unit/runner/iteration.test.ts
Due: format, lint

fix(profiler): address second round of review findings
  packages/agent-profiler/docs/api/public-api.md
  packages/agent-profiler/docs/guides/custom-analyzers.md
  packages/agent-profiler/docs/guides/implementing-a-provider.md
  packages/agent-profiler/docs/guides/scenarios.md
  packages/agent-profiler/test/unit/reporter/orchestrator.test.ts
Due: format, lint

fix(eval): mkdir in writeFixtureManifest, cleanup --all, checkResourceExists strict type, simplify wallMs
  packages/eval/src/fixture/manager.ts
  packages/eval/src/fixture/manifest.ts
  packages/eval/src/provider/opencode-provider.ts
  packages/eval/test/unit/fixture/manager.test.ts
  packages/eval/test/unit/fixture/manifest.test.ts
Due: format, lint

fix(eval): align config defaults, modes enum, GH_TOKEN fallback, scorer client reuse, differentiate scenario sets
  packages/eval/scenarios/scenario-sets.json
  packages/eval/src/cli/check.ts
  packages/eval/src/cli/run.ts
  packages/eval/src/config/schema.ts
  packages/eval/src/mode/resolver.ts
  packages/eval/src/scorer/checkpoint-scorer.ts
  packages/eval/test/unit/cli/check.test.ts
  packages/eval/test/unit/config/schema.test.ts
Due: format, lint

fix(eval): address PR review comments
  packages/eval/src/cli/index.ts
  packages/eval/src/cli/run.ts
  packages/eval/src/collector/tool-classifier.ts
  packages/eval/src/mode/resolver.ts
  packages/eval/src/provider/opencode-provider.ts
  packages/eval/src/scenario/loader.ts
  packages/eval/test/unit/cli/parse-flags.test.ts
  packages/eval/test/unit/cli/run.test.ts
  packages/eval/test/unit/mode/resolver.test.ts
Due: format, lint

docs(eval): add getting-started section (installation, quick-start, concepts)
  packages/eval/docs/getting-started/concepts.md
  packages/eval/docs/getting-started/installation.md
  packages/eval/docs/getting-started/quick-start.md
Due: none

docs(eval): add architecture section (overview, plugins, modes, fixtures, scenarios, provider)
  packages/eval/docs/architecture/fixtures.md
  packages/eval/docs/architecture/modes.md
  packages/eval/docs/architecture/opencode-provider.md
  packages/eval/docs/architecture/overview.md
  packages/eval/docs/architecture/plugin-implementations.md
  packages/eval/docs/architecture/scenarios.md
Due: none

docs(eval): add guides section (scenarios, fixtures, config, CLI, collectors, reports)
  packages/eval/docs/guides/configuration.md
  packages/eval/docs/guides/custom-collectors.md
  packages/eval/docs/guides/managing-fixtures.md
  packages/eval/docs/guides/reports.md
  packages/eval/docs/guides/running-evaluations.md
  packages/eval/docs/guides/writing-scenarios.md
Due: none

docs(eval): add contributing section (dev setup, adding scenarios)
  packages/eval/docs/contributing/adding-scenarios.md
  packages/eval/docs/contributing/development-setup.md
Due: none

docs(eval): add API reference section (scenario, conditions, manifest, public API)
  packages/eval/docs/api/checkpoint-conditions.md
  packages/eval/docs/api/eval-scenario.md
  packages/eval/docs/api/fixture-manifest.md
  packages/eval/docs/api/public-api.md
Due: none

docs(eval): fix cross-references, diagrams, and formatting
  packages/eval/docs/README.md
  packages/eval/docs/contributing/adding-scenarios.md
  packages/eval/docs/guides/custom-collectors.md
  packages/eval/docs/guides/reports.md
Due: none

docs(eval): add package README and link from docs hub
  packages/eval/README.md
  packages/eval/docs/README.md
Due: none

docs(eval): replace 'proves' language with neutral evaluation terminology
  packages/eval/README.md
  packages/eval/docs/README.md
  packages/eval/docs/methodology/evaluation-design.md
  packages/eval/docs/methodology/metrics.md
Due: none

Path conditions:
  format: any of: *.{ts,js,mjs,json,yaml,yml}
  lint: any of: *.{ts,js,mjs}
