Repository aryeko/ghx-router: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,js,mjs,json,yaml,yml}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,js,mjs}"
      run: pnpm eslint --max-warnings=0 {staged_files}
    typecheck:
      env:
        NX_DAEMON: "false"
        NX_DEFAULT_OUTPUT_STYLE: "static"
        NX_TUI: "false"
      run: pnpm run typecheck

refactor(core): generate common gql types via codegen
  packages/core/codegen.ts
  packages/core/scripts/generate-gql-artifacts.mjs
  packages/core/src/gql/generated/common-types.generated.ts
  packages/core/test/unit/codegen-config.test.ts
Due: format, lint

fix composite review comments and harden batch execution
  docs/plans/2026-02-19-composite-capabilities-design.md
  docs/plans/2026-02-19-composite-capabilities-plan.md
  packages/core/skills/using-ghx/SKILL.md
  packages/core/src/core/execute/composite.ts
  packages/core/src/core/registry/cards/issue.triage.composite.yaml
  packages/core/src/core/registry/cards/issue.update.composite.yaml
  packages/core/src/core/registry/operation-card-schema.ts
  packages/core/src/core/registry/types.ts
  packages/core/src/core/routing/engine.ts
  packages/core/src/gql/batch.ts
  packages/core/src/gql/builders.ts
  packages/core/test/unit/composite-engine.test.ts
  packages/core/test/unit/composite-expand.test.ts
  packages/core/test/unit/composite-types.test.ts
  packages/core/test/unit/engine.test.ts
  packages/core/test/unit/gql-batch.test.ts
  packages/core/test/unit/gql-builders.test.ts
  packages/core/test/unit/gql-capability-registry.test.ts
Due: format, lint

feat(core): extract workflow domain module from cli-capability-adapter
  packages/core/src/core/execution/adapters/cli/domains/workflow.ts
  packages/core/test/unit/cli-domains-workflow.test.ts
Due: format, lint

feat(core): extract release domain module from cli-capability-adapter
  packages/core/src/core/execution/adapters/cli/domains/release.ts
  packages/core/test/unit/cli-domains-release.test.ts
Due: format, lint

feat(core): add cli capability registry
  packages/core/src/core/execution/adapters/cli/capability-registry.ts
  packages/core/test/unit/cli-capability-registry.test.ts
Due: format, lint

docs: sync documentation with sprint merges (PRs #46, #48, #51–#55)
  docs/README.md
  docs/architecture/README.md
  docs/architecture/adapters.md
  docs/architecture/operation-cards.md
  docs/architecture/repository-structure.md
  docs/architecture/system-design.md
  docs/capabilities/README.md
  docs/getting-started/README.md
  docs/getting-started/first-task.md
  docs/getting-started/setup-for-agents.md
  docs/guides/README.md
  docs/guides/agent-integration.md
  docs/guides/cli-usage.md
Due: none

docs: fix stale capability IDs and counts from PR review
  docs/architecture/adapters.md
  docs/architecture/operation-cards.md
  docs/capabilities/README.md
  docs/getting-started/README.md
  docs/getting-started/first-task.md
Due: none

refactor(core): slim cli-capability-adapter to registry dispatcher
  packages/core/src/core/execution/adapters/cli-capability-adapter.ts
  packages/core/src/core/execution/adapters/cli/domains/pr.ts
  packages/core/src/core/execution/adapters/cli/domains/project-v2.ts
  packages/core/src/core/execution/adapters/cli/domains/release.ts
  packages/core/src/core/execution/adapters/cli/domains/workflow.ts
Due: format, lint

refactor(test): replace e2e ESLint rule suppression with proper lifecycle hooks
  eslint.config.mjs
  packages/core/test/e2e/setup-install-verify.e2e.test.ts
  packages/core/test/e2e/setup-opencode-skill.e2e.test.ts
Due: format, lint

test(core): add branch coverage tests for CLI domain adapters
  packages/core/test/unit/cli-capability-adapter.test.ts
  packages/core/test/unit/cli-domains-issue.test.ts
  packages/core/test/unit/cli-domains-pr.test.ts
  packages/core/test/unit/cli-domains-project-v2.test.ts
  packages/core/test/unit/cli-domains-release.test.ts
  packages/core/test/unit/cli-domains-repo.test.ts
  packages/core/test/unit/cli-domains-workflow.test.ts
  packages/core/test/unit/cli-helpers.test.ts
Due: format, lint

fix(core): address PR review feedback and add changeset
  .changeset/fix-pr-review-followups.md
  docs/architecture/adapters.md
  docs/architecture/repository-structure.md
  packages/core/src/core/execution/adapters/cli/capability-registry.ts
  packages/core/src/core/execution/adapters/cli/domains/pr.ts
  packages/core/src/core/execution/adapters/cli/domains/project-v2.ts
  packages/core/src/core/execution/adapters/cli/domains/release.ts
  packages/core/src/core/execution/adapters/cli/domains/workflow.ts
  packages/core/test/e2e/setup-install-verify.e2e.test.ts
  packages/core/test/e2e/setup-opencode-skill.e2e.test.ts
  packages/core/test/unit/cli-capability-registry.test.ts
  packages/core/test/unit/cli-domains-release.test.ts
  packages/core/test/unit/cli-domains-workflow.test.ts
  packages/core/test/unit/cli-helpers.test.ts
Due: format, lint

fix(core): address CodeRabbit review comments on PR #57
  packages/core/test/unit/cli-domains-project-v2.test.ts
Due: format, lint

docs: add benchmark scenario composite update design
  docs/plans/2026-02-19-benchmark-scenario-composite-update-design.md
Due: none

docs: add benchmark scenario composite update implementation plan
  docs/plans/2026-02-19-benchmark-scenario-composite-update.md
Due: none

feat(benchmark): expand ci-diagnose-run-wf-001 to require job log diagnosis
  packages/benchmark/scenarios/workflows/ci-diagnose-run-wf-001.json
Due: format

fix(benchmark): tighten pr-fix prompt + improve SKILL.md composite guidance
  packages/benchmark/scenarios/workflows/pr-fix-review-comments-wf-001.json
  packages/core/skills/using-ghx/SKILL.md
Due: format

docs: add atomic capability chaining design
  docs/plans/2026-02-20-atomic-capability-chaining-design.md
Due: none

docs: update chaining design — concurrent Promise.all approach + CLI interface
  docs/plans/2026-02-20-atomic-capability-chaining-design.md
Due: none

feat(core): add graphql.resolution blocks to 6 capability cards
  packages/core/src/core/registry/cards/issue.assignees.update.yaml
  packages/core/src/core/registry/cards/issue.create.yaml
  packages/core/src/core/registry/cards/issue.labels.add.yaml
  packages/core/src/core/registry/cards/issue.labels.update.yaml
  packages/core/src/core/registry/cards/issue.milestone.set.yaml
  packages/core/src/core/registry/cards/issue.parent.remove.yaml
  packages/core/test/unit/registry-validation.test.ts
Due: format, lint

feat(core): add document-registry for lookup and mutation GQL documents
  packages/core/src/gql/document-registry.ts
  packages/core/test/unit/document-registry.test.ts
Due: format, lint

feat(core): add ChainResultEnvelope, ChainStepResult, ChainStatus types
  packages/core/src/core/contracts/envelope.ts
  packages/core/test/unit/envelope.test.ts
Due: format, lint

feat(core): add resolution engine helpers (applyInject, buildMutationVars)
  packages/core/src/gql/resolve.ts
  packages/core/test/unit/resolve.test.ts
Due: format, lint

fix(core): revert error message to 'mutation' for backward compatibility
  packages/core/src/gql/batch.ts
Due: format, lint

fix: align GQL return types and YAML input schema with output contracts
  packages/core/src/core/registry/cards/project_v2.items.issue.remove.yaml
  packages/core/src/gql/domains/issue-mutations.ts
  packages/core/src/gql/domains/pr-mutations.ts
  packages/core/src/gql/types.ts
  packages/core/test/integration/engine-project-v2-items-issue-remove.integration.test.ts
  packages/core/test/unit/github-client.test.ts
Due: format, lint

fix(review): address CodeRabbit P1 issues and schema inconsistencies
  .changeset/capability-namespace-standardization.md
  docs/capabilities/pull-requests.md
  packages/benchmark/scenarios/workflows/ci-diagnose-run-wf-001.json
  packages/benchmark/scenarios/workflows/issue-triage-comment-wf-001.json
  packages/core/skills/using-ghx/SKILL.md
  packages/core/src/core/execution/adapters/cli/domains/pr.ts
  packages/core/src/core/execution/adapters/cli/domains/project-v2.ts
  packages/core/src/core/registry/cards/issue.assignees.remove.yaml
  packages/core/src/core/registry/cards/pr.checks.rerun.all.yaml
  packages/core/src/core/registry/cards/project_v2.items.issue.remove.yaml
  packages/core/src/core/registry/cards/workflow.run.rerun.all.yaml
  packages/core/src/core/registry/cards/workflow.run.rerun.failed.yaml
  packages/core/src/core/registry/cards/workflow.view.yaml
  packages/core/src/gql/builders.ts
  packages/core/test/integration/engine-issue-assignees-set.integration.test.ts
  packages/core/test/integration/engine-issue-relations-prs-list.integration.test.ts
  packages/core/test/integration/engine-project-v2-items-issue-remove.integration.test.ts
  packages/core/test/unit/cli-capability-adapter.test.ts
  packages/core/test/unit/cli-domains-pr.test.ts
  packages/core/test/unit/cli-domains-project-v2.test.ts
  packages/core/test/unit/gql-builders.test.ts
Due: format, lint

docs(capabilities): fix stale capability IDs after PR #58 namespace rename
  docs/capabilities/README.md
Due: none

feat(core): register 11 graphql mutations in document registry for atomic chaining
  packages/core/src/gql/document-registry.ts
Due: format, lint

docs: add atomic chaining follow-up work tracker
  docs/plans/2026-02-20-atomic-chaining-followup.md
Due: none

fix(chain): safe json parse, 30s abort timeout, catch sync throws in chainCommand
  packages/core/src/cli/commands/chain.ts
  packages/core/test/unit/chain-command.test.ts
Due: format, lint

refactor: extract LookupSpec interface and use @core/ alias imports in chain.ts
  packages/core/src/cli/commands/chain.ts
  packages/core/src/core/registry/types.ts
Due: format, lint

docs: fix ResolutionBlock→ResolutionConfig, stale capability IDs, and plan table
  docs/architecture/operation-cards.md
  docs/benchmark/workflow-roadmap.md
  docs/capabilities/issues.md
  docs/getting-started/README.md
  docs/getting-started/first-task.md
  docs/guides/chaining-capabilities.md
  docs/guides/cli-usage.md
  docs/guides/library-api.md
  docs/guides/result-envelope.md
  docs/plans/2026-02-20-atomic-chaining-followup.md
  docs/plans/2026-02-20-pr-review-fixes-round2.md
  docs/plans/2026-02-20-pr-review-fixes.md
Due: none

fix(gql): replace fragment regex with brace-depth counting in batch.ts
  packages/core/src/gql/batch.ts
Due: format, lint

feat(core): partial error handling, resolution cache, expanded chainable coverage
  docs/guides/chaining-capabilities.md
  docs/plans/2026-02-21-atomic-chaining-items-3-5-6-8.md
  packages/core/src/cli/commands/chain.ts
  packages/core/src/core/registry/cards/issue.assignees.add.yaml
  packages/core/src/core/registry/cards/issue.assignees.remove.yaml
  packages/core/src/core/registry/cards/issue.labels.remove.yaml
  packages/core/src/core/registry/cards/issue.milestone.clear.yaml
  packages/core/src/core/registry/operation-card-schema.ts
  packages/core/src/core/registry/types.ts
  packages/core/src/core/routing/engine.ts
  packages/core/src/core/routing/resolution-cache.ts
  packages/core/src/gql/document-registry.ts
  packages/core/src/gql/github-client.ts
  packages/core/src/gql/operations/issue-assignees-add.generated.ts
  packages/core/src/gql/operations/issue-assignees-add.graphql
  packages/core/src/gql/operations/issue-assignees-lookup-by-number.generated.ts
  packages/core/src/gql/operations/issue-assignees-lookup-by-number.graphql
  packages/core/src/gql/operations/issue-assignees-remove.generated.ts
  packages/core/src/gql/operations/issue-assignees-remove.graphql
  packages/core/src/gql/operations/issue-labels-lookup-by-number.generated.ts
  packages/core/src/gql/operations/issue-labels-lookup-by-number.graphql
  packages/core/src/gql/operations/issue-labels-remove.generated.ts
  packages/core/src/gql/operations/issue-labels-remove.graphql
  packages/core/src/gql/operations/issue-node-id-lookup.generated.ts
  packages/core/src/gql/operations/issue-node-id-lookup.graphql
  packages/core/src/gql/resolve.ts
  packages/core/src/gql/transport.ts
  packages/core/src/index.ts
  packages/core/test/unit/capability-registry.test.ts
  packages/core/test/unit/engine.test.ts
  packages/core/test/unit/pr-review-resolution.test.ts
  packages/core/test/unit/resolution-cache.test.ts
  packages/core/test/unit/resolve.test.ts
  packages/core/test/unit/transport.test.ts
Due: format, lint

fix(core): address PR #60 review findings
  .changeset/pr-60-review-fixes.md
  packages/core/src/core/routing/engine.ts
  packages/core/src/core/routing/resolution-cache.ts
  packages/core/src/gql/assertions.ts
  packages/core/src/gql/capability-registry.ts
  packages/core/src/gql/domains/issue-mutations.ts
  packages/core/src/gql/github-client.ts
  packages/core/src/gql/transport.ts
  packages/core/src/gql/types.ts
  packages/core/test/unit/resolution-cache.test.ts
  packages/core/test/unit/transport.test.ts
Due: format, lint

fix(core): fix remaining lint issues, expand test coverage, update docs
  .changeset/pr-60-review-fixes.md
  docs/plans/2026-02-20-atomic-chaining-followup.md
  packages/core/src/core/routing/engine.ts
  packages/core/test/unit/chain-command.test.ts
  packages/core/test/unit/engine.test.ts
Due: format, lint

feat: atomic chaining follow-up — tests, SKILL.md, benchmark scenarios
  docs/plans/impl-plan-atomic-chaining-followup.md
  packages/benchmark/scenario-sets.json
  packages/benchmark/scenarios/chaining/issue-triage-atomic-wf-001.json
  packages/benchmark/scenarios/chaining/pr-review-submit-atomic-wf-001.json
  packages/core/skills/using-ghx/SKILL.md
  packages/core/test/integration/engine-execute-tasks-no-resolution.integration.test.ts
  packages/core/test/integration/engine-execute-tasks-pr-review-submit.integration.test.ts
  packages/core/test/unit/document-registry.test.ts
Due: format, lint

docs: add atomic chaining follow-up implementation plan and tests (#61)
  docs/plans/impl-plan-atomic-chaining-followup.md
  packages/benchmark/scenario-sets.json
  packages/benchmark/scenarios/chaining/issue-triage-atomic-wf-001.json
  packages/benchmark/scenarios/chaining/pr-review-submit-atomic-wf-001.json
  packages/benchmark/test/unit/scenario-sets-manifest.test.ts
  packages/core/skills/using-ghx/SKILL.md
  packages/core/test/integration/engine-execute-tasks-no-resolution.integration.test.ts
  packages/core/test/integration/engine-execute-tasks-pr-review-submit.integration.test.ts
  packages/core/test/unit/document-registry.test.ts
Due: format, lint
