Repository aryeko/ghx-router: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint --max-warnings=0 {staged_files}

feat(eval): add issue fixture seeder
  packages/eval/src/fixture/seeders/issue-seeder.ts
  packages/eval/test/unit/fixture/seeders/issue-seeder.test.ts
Due: format, lint

fix: resolve all high CVEs in devDependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore: add changeset for CVE audit fix
  .changeset/resolve-cve-audit.md
Due: none

feat(eval): register built-in PR and issue seeders
  packages/eval/src/fixture/seeders/index.ts
Due: format, lint

fix: resolve all high CVEs in devDependencies (#86)
  .changeset/resolve-cve-audit.md
  package.json
  packages/core/test/e2e/setup-install-verify.e2e.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

feat(eval): implement eval report command
  packages/eval/src/analysis/run-analyzers.ts
  packages/eval/src/cli/analyze.ts
  packages/eval/src/cli/report.ts
  packages/eval/src/report/generate.ts
  packages/eval/test/unit/analysis/run-analyzers.test.ts
  packages/eval/test/unit/cli/analyze.test.ts
  packages/eval/test/unit/cli/report.test.ts
  packages/eval/test/unit/report/generate.test.ts
Due: format, lint

feat(eval): export seeders, analyzers, and report from package index
  packages/eval/src/index.ts
Due: format, lint

feat(eval): implement fixture seed, analyze, and report commands
  .changeset/eval-missing-features.md
  docs/plans/2026-02-28-eval-missing-features-design.md
  docs/plans/2026-02-28-eval-missing-features-plan.md
Due: none

docs(eval): add language specifiers to unfenced code blocks in reports.md
  packages/eval/docs/guides/reports.md
Due: none

docs(eval): add comprehensive documentation for @ghx-dev/eval (#85)
  packages/eval/README.md
  packages/eval/docs/README.md
  packages/eval/docs/api/README.md
  packages/eval/docs/api/checkpoint-conditions.md
  packages/eval/docs/api/eval-scenario.md
  packages/eval/docs/api/fixture-manifest.md
  packages/eval/docs/api/public-api.md
  packages/eval/docs/architecture/README.md
  packages/eval/docs/architecture/fixtures.md
  packages/eval/docs/architecture/modes.md
  packages/eval/docs/architecture/opencode-provider.md
  packages/eval/docs/architecture/overview.md
  packages/eval/docs/architecture/plugin-implementations.md
  packages/eval/docs/architecture/scenarios.md
  packages/eval/docs/contributing/README.md
  packages/eval/docs/contributing/adding-scenarios.md
  packages/eval/docs/contributing/development-setup.md
  packages/eval/docs/getting-started/README.md
  packages/eval/docs/getting-started/concepts.md
  packages/eval/docs/getting-started/installation.md
  packages/eval/docs/getting-started/quick-start.md
  packages/eval/docs/guides/README.md
  packages/eval/docs/guides/configuration.md
  packages/eval/docs/guides/custom-collectors.md
  packages/eval/docs/guides/managing-fixtures.md
  packages/eval/docs/guides/reports.md
  packages/eval/docs/guides/running-evaluations.md
  packages/eval/docs/guides/writing-scenarios.md
  packages/eval/docs/methodology/README.md
  packages/eval/docs/methodology/evaluation-design.md
  packages/eval/docs/methodology/interpreting-results.md
  packages/eval/docs/methodology/metrics.md
  packages/eval/docs/methodology/thesis.md
Due: none

Path conditions:
  format: any of: *.{ts,js,mjs,json,yaml,yml}
  lint: any of: *.{ts,js,mjs}
