Repository aryeko/ghx-router: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,js,mjs,json,yaml,yml}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,js,mjs}"
      run: pnpm eslint --max-warnings=0 {staged_files}
    typecheck:
      env:
        NX_DAEMON: "false"
        NX_DEFAULT_OUTPUT_STYLE: "static"
        NX_TUI: "false"
      run: pnpm run typecheck

merge main and reconcile benchmark verify-by-set changes
  AGENTS.md
  packages/benchmark/package.json
  packages/benchmark/scripts/run-verify-by-set.sh
  packages/benchmark/src/cli/args.ts
  packages/benchmark/src/cli/benchmark.ts
  packages/benchmark/src/runner/suite-runner.ts
  packages/benchmark/test/unit/cli-args.test.ts
  packages/benchmark/test/unit/cli-main.test.ts
  packages/benchmark/test/unit/suite-runner-runsuite.test.ts
Due: format, lint

harden verify-by-set validation and cleanup flow
  packages/benchmark/scripts/run-verify-by-set.sh
  packages/benchmark/src/cli/verify-by-set.ts
  packages/benchmark/test/unit/verify-by-set-cli.test.ts
Due: format, lint

docs: align verify-by-set spec with row-count and cleanup contracts
  docs/benchmark/2026-02-16-sandbox-verification-plan.md
Due: none

fix benchmark verification edge-cases and coverage gaps
  packages/benchmark/scripts/run-verify-by-set.sh
  packages/benchmark/src/cli/args.ts
  packages/benchmark/src/cli/verify-by-set.ts
  packages/benchmark/test/unit/cli-args.test.ts
  packages/benchmark/test/unit/verify-by-set-cli.test.ts
Due: format, lint

chore: ignore ESLint v10 group in Dependabot
  .github/dependabot.yml
Due: format

chore: fix Dependabot config and upgrade Zod to v4 (#39)
  .github/dependabot.yml
  CLAUDE.md
  packages/benchmark/package.json
  packages/benchmark/src/cli/fixtures.ts
  packages/benchmark/src/cli/generate-suite-config.ts
  packages/benchmark/src/cli/run-suite.ts
  packages/benchmark/src/fixture/manifest.ts
  packages/benchmark/src/report/expectations.ts
  packages/benchmark/src/scenario/schema.ts
  pnpm-lock.yaml
Due: format, lint

refactor(core): inline chooseRoute — it only returns the first preference
  packages/core/src/core/routing/engine.ts
Due: format, lint

refactor(benchmark): extract shared CLI flag-parsing utilities into flag-utils.ts
  packages/benchmark/src/cli/args.ts
  packages/benchmark/src/cli/fixtures.ts
  packages/benchmark/src/cli/flag-utils.ts
  packages/benchmark/src/cli/generate-suite-config.ts
  packages/benchmark/src/cli/report.ts
  packages/benchmark/src/cli/run-suite.ts
  packages/benchmark/src/cli/verify-by-set.ts
  packages/benchmark/test/unit/fixtures-cli.test.ts
  packages/benchmark/test/unit/flag-utils.test.ts
  packages/benchmark/test/unit/generate-suite-config-cli.test.ts
Due: format, lint

refactor(benchmark): extract shared CLI direct-run guard into entry.ts
  packages/benchmark/src/cli/benchmark.ts
  packages/benchmark/src/cli/check-scenarios.ts
  packages/benchmark/src/cli/entry.ts
Due: format, lint

refactor(benchmark): extract shared isObject guard into utils/guards.ts
  packages/benchmark/src/extract/attempts.ts
  packages/benchmark/src/extract/envelope.ts
  packages/benchmark/src/runner/preflight/ghx-router-preflight.ts
  packages/benchmark/src/runner/suite-runner.ts
  packages/benchmark/src/utils/guards.ts
  packages/benchmark/test/unit/guards.test.ts
  packages/benchmark/test/unit/suite-runner.test.ts
Due: format, lint

fix(core): use ADAPTER_UNSUPPORTED for missing gh CLI in preflight
  packages/core/src/core/execution/preflight.ts
  packages/core/test/unit/preflight.test.ts
Due: format, lint

refactor(benchmark): extract shared gh CLI client for fixture modules
  packages/benchmark/src/fixture/cleanup.ts
  packages/benchmark/src/fixture/gh-client.ts
  packages/benchmark/src/fixture/seed.ts
  packages/benchmark/test/unit/fixture-gh-client.test.ts
Due: format, lint

refactor(benchmark): consolidate JSON scanner utilities into extract/envelope.ts
  packages/benchmark/src/extract/envelope.ts
  packages/benchmark/src/runner/suite-runner.ts
  packages/benchmark/test/unit/json-scanner.test.ts
Due: format, lint

refactor(benchmark): centralize report contract types into domain/types.ts
  packages/benchmark/src/cli/report.ts
  packages/benchmark/src/domain/types.ts
  packages/benchmark/src/report/aggregate.ts
  packages/benchmark/src/report/expectations.ts
Due: format, lint

refactor(benchmark): extract shared JSONL parsing utilities with optional Zod validation
  packages/benchmark/src/cli/report.ts
  packages/benchmark/src/cli/verify-by-set.ts
  packages/benchmark/src/utils/jsonl.ts
  packages/benchmark/test/unit/jsonl.test.ts
Due: format, lint

refactor(benchmark): extract envelope recovery logic from suite-runner
  packages/benchmark/src/runner/envelope-recovery.ts
  packages/benchmark/src/runner/suite-runner.ts
  packages/benchmark/test/unit/suite-runner.test.ts
Due: format, lint

refactor(benchmark): extract client lifecycle management from suite-runner
  packages/benchmark/src/runner/client-lifecycle.ts
  packages/benchmark/src/runner/suite-runner.ts
Due: format, lint

docs: update CLAUDE.md with new guidelines and cautionary notes
  CLAUDE.md
Due: none

docs: update CLAUDE.md with worktrees, Biome import ordering, and exactOptionalPropertyTypes notes
  CLAUDE.md
Due: none

docs: fix Biome import ordering guidance (import type comes first)
  CLAUDE.md
Due: none

docs(benchmark): update methodology, metrics, efficiency criteria, and CLI flags
  CLAUDE.md
  docs/benchmark/efficiency-criteria.md
  docs/benchmark/methodology.md
  docs/benchmark/metrics.md
Due: none

fix(benchmark): workflow scenario fixes — checkpoint evaluator, mode prompts, orchestration CLI
  packages/benchmark/.env.local.example
  packages/benchmark/package.json
  packages/benchmark/scenarios/workflows/pr-fix-review-comments-wf-001.json
  packages/benchmark/src/cli/fixtures.ts
  packages/benchmark/src/cli/run-scenario.ts
  packages/benchmark/src/fixture/app-auth.ts
  packages/benchmark/src/fixture/gh-client.ts
  packages/benchmark/src/fixture/seed.ts
  packages/benchmark/src/runner/prompt/prompt-renderer.ts
  packages/benchmark/src/runner/suite-runner.ts
  packages/benchmark/test/unit/fixture-app-auth.test.ts
  packages/benchmark/test/unit/fixtures-cli.test.ts
  packages/benchmark/test/unit/run-scenario.test.ts
  packages/benchmark/test/unit/runner-prompt-renderer.test.ts
Due: format, lint

refactor(devcontainer): simplify — mount repo root, drop agent-run.sh
  .devcontainer/devcontainer.json
  .devcontainer/init-firewall.sh
  docs/architecture/repository-structure.md
  package.json
  scripts/agent-run.sh
Due: format

feat(benchmark): add issue-triage-comment workflow scenario
  packages/benchmark/scenario-sets.json
  packages/benchmark/scenarios/workflows/issue-triage-comment-wf-001.json
Due: format

feat(benchmark): add pr-review-comment workflow scenario
  packages/benchmark/scenario-sets.json
  packages/benchmark/scenarios/workflows/pr-review-comment-wf-001.json
Due: format

chore(benchmark): default to gpt-5.1-codex-mini
  packages/benchmark/scripts/inspect-session.ts
  packages/benchmark/src/runner/suite-runner.ts
Due: format, lint

feat(core): add stdin input support to run command (--input -)
  packages/core/src/cli/commands/run.ts
  packages/core/src/cli/index.ts
  packages/core/test/unit/cli-index-entrypoint.test.ts
  packages/core/test/unit/cli-index.test.ts
  packages/core/test/unit/run-command.test.ts
Due: format, lint

feat(benchmark): add cleanup --all flag to nuke all bench-fixture resources
  CLAUDE.md
  docs/benchmark/running-benchmarks.md
  packages/benchmark/README.md
  packages/benchmark/src/cli/fixtures.ts
  packages/benchmark/src/fixture/cleanup.ts
  packages/benchmark/test/unit/fixture-cleanup.test.ts
  packages/benchmark/test/unit/fixtures-cli.test.ts
Due: format, lint

feat(benchmark): selective fixture seeding via scenario requires
  packages/benchmark/src/cli/run-scenario.ts
  packages/benchmark/src/fixture/cleanup.ts
  packages/benchmark/src/fixture/seed.ts
  packages/benchmark/test/unit/fixture-cleanup.test.ts
  packages/benchmark/test/unit/fixture-seed.test.ts
Due: format, lint

feat(benchmark): run warmup on first iteration only
  packages/benchmark/src/cli/run-scenario.ts
Due: format, lint

feat(core): add Claude Code plugin infrastructure
  .claude-plugin/marketplace.json
  docs/architecture/repository-structure.md
  packages/benchmark/src/runner/client-lifecycle.ts
  packages/core/.claude-plugin/plugin.json
  packages/core/README.md
  packages/core/package.json
  packages/core/scripts/copy-registry-cards.mjs
  packages/core/skills/using-ghx/SKILL.md
  packages/core/src/cli/commands/setup.ts
  packages/core/test/unit/setup-command-errors.test.ts
Due: format, lint

feat(core): rewrite using-ghx skill with comprehensive standards
  packages/benchmark/test/unit/suite-runner-runsuite.test.ts
  packages/core/skills/using-ghx/SKILL.md
  packages/core/test/unit/setup-command-interactive.test.ts
Due: format, lint

Revert "feat(core): rewrite using-ghx skill with comprehensive standards"
  packages/benchmark/test/unit/suite-runner-runsuite.test.ts
  packages/core/skills/using-ghx/SKILL.md
  packages/core/test/unit/setup-command-interactive.test.ts
Due: format, lint

feat(core): plugin manifest sync script, remove duplicate dist/cards
  .claude-plugin/marketplace.json
  package.json
  packages/core/.claude-plugin/plugin.json
  packages/core/package.json
  packages/core/scripts/copy-registry-cards.mjs
  packages/core/scripts/sync-plugin-manifests.mjs
  packages/core/tsup.config.ts
Due: format, lint

fix(core): restore dist/cards copy target for bundled chunk resolution
  packages/core/scripts/copy-registry-cards.mjs
Due: format, lint

fix: add missing graphql card metadata and pass fixture requires in suite-runner
  packages/benchmark/src/runner/suite-runner.ts
  packages/benchmark/test/unit/suite-runner-runsuite.test.ts
  packages/core/src/core/registry/cards/pr.merge.status.yaml
Due: format, lint

fix: address PR review feedback — 5 targeted fixes
  packages/benchmark/src/cli/run-scenario.ts
  packages/benchmark/src/runner/suite-runner.ts
  packages/benchmark/test/unit/fixture-cleanup.test.ts
  packages/core/src/core/execution/adapters/cli-capability-adapter.ts
  packages/core/test/integration/engine-project-v2-item-field-update.integration.test.ts
Due: format, lint
