Repository aryeko/ghx-router: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,js,mjs,json,yaml,yml}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,js,mjs}"
      run: pnpm eslint --max-warnings=0 {staged_files}
    typecheck:
      env:
        NX_DAEMON: "false"
        NX_DEFAULT_OUTPUT_STYLE: "static"
        NX_TUI: "false"
      run: pnpm run typecheck

fix(core): address PR review feedback
  .changeset/claude-plugin-infrastructure.md
  docs/architecture/repository-structure.md
  packages/core/.claude-plugin/plugin.json
  packages/core/scripts/sync-plugin-manifests.mjs
  packages/core/skills/using-ghx/SKILL.md
Due: format, lint

fix(nx): correct task dependency graph for cross-package typecheck
  nx.json
Due: format

test: improve patch coverage for PR review feedback
  packages/benchmark/src/runner/suite-runner.ts
  packages/benchmark/test/unit/fixture-gh-client.test.ts
  packages/benchmark/test/unit/scenario-loader-runtime.test.ts
  packages/benchmark/test/unit/suite-runner.test.ts
  packages/core/test/unit/cli-capability-adapter.test.ts
  packages/core/test/unit/graphql-capability-adapter.test.ts
  packages/core/test/unit/run-command.test.ts
Due: format, lint

fix: address remaining PR review comments — docs, naming, codegen guard
  .changeset/benchmark-overhaul-capability-naming.md
  docs/architecture/system-design.md
  docs/capabilities/README.md
  packages/core/scripts/run-gql-codegen.ts
  packages/core/src/core/registry/cards/workflow.job.logs.raw.yaml
  packages/core/test/integration/engine-pr-diff-files.integration.test.ts
  packages/core/test/integration/engine-pr-review-request.integration.test.ts
  packages/core/test/integration/engine-pr-update.integration.test.ts
Due: format, lint

fix(core): exclude fragment generated files from coverage
  packages/core/vitest.config.ts
Due: format, lint

refactor(core): dissolve agent-interface directory and merge exports
  CLAUDE.md
  README.md
  docs/architecture/README.md
  docs/architecture/agent-interface.md
  docs/architecture/repository-structure.md
  docs/guides/agent-integration.md
  nx.json
  packages/core/README.md
  packages/core/package.json
  packages/core/src/agent-interface/prompt/main-skill.ts
  packages/core/src/agent.ts
  packages/core/src/cli/commands/capabilities-explain.ts
  packages/core/src/cli/commands/capabilities-list.ts
  packages/core/src/core/execute/execute-tool.ts
  packages/core/src/core/registry/explain-capability.ts
  packages/core/src/core/registry/list-capabilities.ts
  packages/core/src/index.ts
  packages/core/test/unit/agent-tools.test.ts
  packages/core/test/unit/explain-tool-edges.test.ts
  packages/core/test/unit/public-exports.test.ts
  packages/core/test/unit/scaffolds-and-constants.test.ts
  packages/core/tsup.config.ts
Due: format, lint

test: improve patch coverage and fix pr.create/pr.update output validation
  codecov.yml
  packages/benchmark/test/unit/fixture-cleanup.test.ts
  packages/benchmark/test/unit/statistics.test.ts
  packages/benchmark/test/unit/suite-runner.test.ts
  packages/core/src/core/execution/adapters/cli-capability-adapter.ts
  packages/core/test/unit/cli-capability-adapter.test.ts
  packages/core/test/unit/graphql-capability-adapter.test.ts
  packages/core/test/unit/graphql-client.test.ts
Due: format, lint

docs: add GQL refactor implementation plan
  docs/plans/2026-02-19-gql-refactor-plan.md
Due: none

feat(core): configure @core path alias in tsconfig, tsup, and vitest
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/core/vitest.config.ts
Due: format, lint

docs: revise gql-refactor plan with lazy dynamic imports
  docs/plans/2026-02-19-gql-refactor-plan.md
Due: none

refactor(benchmark): convert deep relative imports to @bench alias
  packages/benchmark/src/runner/mode/mode-instructions.ts
  packages/benchmark/src/runner/prompt/prompt-renderer.ts
  packages/benchmark/test/helpers/scenario-factory.ts
  packages/benchmark/test/unit/attempts-extract.test.ts
  packages/benchmark/test/unit/check-scenarios.test.ts
  packages/benchmark/test/unit/cli-args.test.ts
  packages/benchmark/test/unit/cli-main.test.ts
  packages/benchmark/test/unit/expectations.test.ts
  packages/benchmark/test/unit/fixture-app-auth.test.ts
  packages/benchmark/test/unit/fixture-cleanup.test.ts
  packages/benchmark/test/unit/fixture-gh-client.test.ts
  packages/benchmark/test/unit/fixture-manifest.test.ts
  packages/benchmark/test/unit/fixture-seed.test.ts
  packages/benchmark/test/unit/flag-utils.test.ts
  packages/benchmark/test/unit/guards.test.ts
  packages/benchmark/test/unit/jsonl.test.ts
  packages/benchmark/test/unit/regression.test.ts
  packages/benchmark/test/unit/report-aggregate.test.ts
  packages/benchmark/test/unit/run-scenario.test.ts
  packages/benchmark/test/unit/runner-mode-instructions.test.ts
  packages/benchmark/test/unit/runner-prompt-renderer.test.ts
  packages/benchmark/test/unit/scenario-loader-runtime.test.ts
  packages/benchmark/test/unit/scenario-loader.test.ts
  packages/benchmark/test/unit/scenario-schema.test.ts
  packages/benchmark/test/unit/statistics.test.ts
  packages/benchmark/test/unit/suite-runner.test.ts
  packages/benchmark/test/unit/verify-by-set-cli.test.ts
Due: format, lint

docs: document @core and @bench import aliases
  CLAUDE.md
Due: none

refactor(gql): extract assertions.ts from client.ts
  packages/core/src/gql/assertions.ts
  packages/core/src/gql/client.ts
Due: format, lint

chore: add changeset for import alias refactor
  .changeset/import-aliases.md
Due: none

refactor: composites reuse adapter logic via operation builder pattern
  docs/plans/2026-02-19-composite-capabilities-design.md
  docs/plans/2026-02-19-composite-capabilities-plan.md
Due: none

refactor: use vite-tsconfig-paths plugin instead of explicit vitest aliases
  packages/benchmark/package.json
  packages/benchmark/vitest.config.ts
  packages/core/package.json
  packages/core/vitest.config.ts
  pnpm-lock.yaml
Due: format, lint

fix: preserve pre-existing esbuild aliases in tsup config
  packages/benchmark/tsup.config.ts
  packages/core/tsup.config.ts
Due: format, lint

feat: add CompositeConfig types to OperationCard
  packages/core/src/gql/batch.ts
  packages/core/test/unit/composite-types.test.ts
  packages/core/test/unit/gql-batch.test.ts
Due: format, lint

feat: add composite config to operation card schema
  packages/core/src/core/registry/operation-card-schema.ts
  packages/core/test/unit/registry-validation.test.ts
Due: format, lint

feat: add pr.threads.composite capability card
  packages/core/src/core/registry/cards/pr.threads.composite.yaml
  packages/core/src/core/registry/index.ts
  packages/core/test/unit/capability-registry.test.ts
Due: format, lint

feat: add issue.triage.composite and issue.update.composite cards
  packages/core/src/core/registry/cards/issue.triage.composite.yaml
  packages/core/src/core/registry/cards/issue.update.composite.yaml
  packages/core/src/core/registry/index.ts
  packages/core/test/unit/capability-registry.test.ts
Due: format, lint

fix: resolve type errors in builders and client refactoring
  packages/core/src/core/registry/types.ts
  packages/core/src/gql/builders.ts
  packages/core/src/gql/client.ts
  packages/core/test/unit/gql-builders.test.ts
  packages/core/test/unit/operation-cards.test.ts
Due: format, lint

feat: enhance pr.review.submit with GraphQL route and inline comments
  packages/core/src/core/execution/adapters/graphql-capability-adapter.ts
  packages/core/src/core/registry/cards/pr.review.submit.yaml
  packages/core/src/gql/builders.ts
  packages/core/src/gql/client.ts
  packages/core/src/gql/operations/pr-review-submit.graphql
  packages/core/test/unit/capability-registry.test.ts
  packages/core/test/unit/gql-builders.test.ts
  packages/core/test/unit/operation-cards.test.ts
  packages/core/test/unit/pr-review-submit-graphql.test.ts
Due: format, lint

feat: wire composite execution path with builder pattern into engine
  packages/core/src/core/execute/composite.ts
  packages/core/src/core/routing/engine.ts
  packages/core/test/unit/composite-engine.test.ts
Due: format, lint

docs: add composite capability preference to SKILL.md
  packages/core/skills/using-ghx/SKILL.md
Due: none

docs: update capability count and mark design as implemented
  docs/plans/2026-02-19-composite-capabilities-design.md
  packages/core/skills/using-ghx/SKILL.md
Due: none

fix(gql): complete codegen migration and card/doc path updates
  docs/architecture/adapters.md
  docs/architecture/repository-structure.md
  packages/core/src/core/registry/cards/pr.merge.status.yaml
  packages/core/src/gql/domains/issue-mutations.ts
  packages/core/src/gql/domains/pr-mutations.ts
  packages/core/src/gql/domains/pr-queries.ts
  packages/core/src/gql/generated/common-types.generated.ts
  packages/core/src/gql/github-client.ts
  packages/core/src/gql/operations/issue-assignees-lookup.generated.ts
  packages/core/src/gql/operations/issue-assignees-lookup.graphql
  packages/core/src/gql/operations/issue-create-repository-id.generated.ts
  packages/core/src/gql/operations/issue-create-repository-id.graphql
  packages/core/src/gql/operations/issue-labels-add.generated.ts
  packages/core/src/gql/operations/issue-labels-add.graphql
  packages/core/src/gql/operations/issue-labels-lookup.generated.ts
  packages/core/src/gql/operations/issue-labels-lookup.graphql
  packages/core/src/gql/operations/issue-milestone-lookup.generated.ts
  packages/core/src/gql/operations/issue-milestone-lookup.graphql
  packages/core/src/gql/operations/issue-parent-lookup.generated.ts
  packages/core/src/gql/operations/issue-parent-lookup.graphql
  packages/core/src/gql/operations/pr-merge-status.generated.ts
  packages/core/src/gql/operations/pr-merge-status.graphql
  packages/core/src/gql/operations/review-thread-state.generated.ts
  packages/core/src/gql/operations/review-thread-state.graphql
  packages/core/test/unit/operation-cards.test.ts
Due: format, lint

fix(core): stabilize gql codegen check across tokens
  packages/core/scripts/run-gql-codegen.ts
  packages/core/src/gql/operations/issue-assignees-lookup.generated.ts
  packages/core/src/gql/operations/issue-labels-lookup.generated.ts
  packages/core/src/gql/operations/issue-milestone-lookup.generated.ts
  packages/core/src/gql/operations/issue-parent-lookup.generated.ts
  packages/core/src/gql/operations/review-thread-state.generated.ts
Due: format, lint

fix: align composite execution with design and graphql contracts
  packages/core/src/core/execute/composite.ts
  packages/core/src/core/execution/adapters/cli-capability-adapter.ts
  packages/core/src/core/registry/cards/issue.triage.composite.yaml
  packages/core/src/core/registry/cards/issue.update.composite.yaml
  packages/core/src/core/registry/cards/pr.review.submit.yaml
  packages/core/src/core/registry/cards/pr.threads.composite.yaml
  packages/core/src/core/routing/engine.ts
  packages/core/src/gql/builders.ts
  packages/core/src/gql/client.ts
  packages/core/test/unit/capability-registry.test.ts
  packages/core/test/unit/cli-capability-adapter.test.ts
  packages/core/test/unit/composite-engine.test.ts
  packages/core/test/unit/engine.test.ts
  packages/core/test/unit/gql-builders.test.ts
  packages/core/test/unit/operation-cards.test.ts
  packages/core/test/unit/pr-review-submit-engine.test.ts
Due: format, lint

feat(core): make gql drift checks offline by default
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  CONTRIBUTING.md
  docs/contributing/ci-workflows.md
  docs/contributing/development-setup.md
  docs/plans/2026-02-19-gql-check-offline.md
  packages/core/codegen.schema.ts
  packages/core/codegen.ts
  packages/core/package.json
  packages/core/scripts/run-gql-codegen.ts
  packages/core/src/gql/schema.graphql
  packages/core/test/unit/codegen-config.test.ts
  packages/core/test/unit/codegen-schema-config.test.ts
  pnpm-lock.yaml
Due: format, lint

chore: standardize graphql script names
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/architecture/adapters.md
  docs/contributing/README.md
  docs/contributing/adding-a-capability.md
  docs/contributing/ci-workflows.md
  docs/contributing/code-style.md
  docs/contributing/development-setup.md
  package.json
  packages/core/codegen.schema.ts
  packages/core/package.json
  packages/core/test/unit/codegen-schema-config.test.ts
Due: format, lint

test(core): increase gql and composite branch coverage
  packages/core/test/unit/composite-expand.test.ts
  packages/core/test/unit/engine.test.ts
  packages/core/test/unit/gql-batch.test.ts
  packages/core/test/unit/gql-builders.test.ts
  packages/core/test/unit/gql-capability-registry.test.ts
  packages/core/test/unit/pr-mutations.test.ts
Due: format, lint

refactor(core): rename gql generator script and sync plugin keywords
  packages/core/.claude-plugin/plugin.json
  packages/core/package.json
  packages/core/scripts/generate-gql-artifacts.mjs
  packages/core/scripts/sync-plugin-manifests.mjs
Due: format, lint

fix(core): address schema config review feedback
  packages/core/codegen-schema.ts
  packages/core/package.json
  packages/core/test/unit/codegen-schema-config.test.ts
Due: format, lint

feat(core): make gql drift checks offline by default (#54)
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/architecture/adapters.md
  docs/contributing/README.md
  docs/contributing/adding-a-capability.md
  docs/contributing/ci-workflows.md
  docs/contributing/code-style.md
  docs/contributing/development-setup.md
  package.json
  packages/core/.claude-plugin/plugin.json
  packages/core/codegen-schema.ts
  packages/core/codegen.ts
  packages/core/package.json
  packages/core/scripts/generate-gql-artifacts.mjs
  packages/core/scripts/get-github-token.ts
  packages/core/scripts/sync-plugin-manifests.mjs
  packages/core/src/gql/schema.graphql
  packages/core/test/unit/codegen-config.test.ts
  packages/core/test/unit/codegen-schema-config.test.ts
  packages/core/test/unit/get-github-token.test.ts
  pnpm-lock.yaml
Due: format, lint

core: remove pr.review.submit cli fallback and enforce card-driven composite actions
  packages/core/src/core/execute/composite.ts
  packages/core/src/core/execution/adapters/cli-capability-adapter.ts
  packages/core/src/core/registry/cards/pr.review.submit.yaml
  packages/core/src/core/registry/cards/pr.threads.composite.yaml
  packages/core/src/core/registry/operation-card-schema.ts
  packages/core/src/core/registry/types.ts
  packages/core/test/integration/engine-pr-review-submit-approve.integration.test.ts
  packages/core/test/unit/capability-registry.test.ts
  packages/core/test/unit/cli-capability-adapter.test.ts
  packages/core/test/unit/composite-engine.test.ts
  packages/core/test/unit/composite-expand.test.ts
  packages/core/test/unit/engine.test.ts
  packages/core/test/unit/operation-cards.test.ts
Due: format, lint

chore(core): generate gql common-type aliases in artifacts script
  packages/core/scripts/generate-gql-artifacts.mjs
Due: format, lint
